<div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
>
  <div>
    <h1 class="h2">Modify Product Discount</h1>
    <div class="px-4">ID: {{ model._id }}</div>
  </div>
  
  <a
    href="/products"
    class="btn btn-sm btn-outline-secondary"
  >Back to list</a>
</div>
<div class="container">
  <div class="text-danger">{{ error }}</div>
  <form action="/products/{{ model._id }}/discount" method="post">
    <div class="form-group mb-4">
      <div>Discount (%)</div>
      <input type="number" min="0" max="70" name="discount" placeholder="10" value="{{ oldData.discount }}" required class="form-control">
    </div>

    <div class="form-group mb-4">
      <div>Start Date</div>
      <input type="date" name="startDate" value="{{ oldData.startDate }}" required class="form-control">
    </div>

    <div class="form-group mb-4">
      <div>End Date</div>
      <input type="date" name="endDate" value="{{ oldData.endDate }}" required class="form-control">
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary">Add Discount</button>
    </div>
  </form>
</div>