<div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
>
  <h1 class="h2">Edit Product</h1>
  <a
    href="/products"
    class="btn btn-sm btn-outline-secondary"
  >Back to list</a>
</div>
<div class="container">
  <div>ID: {{ model._id }}</div>
  <form action="/products/{{ model._id }}/edit" method="post">
    <div class="form-group mb-4">
      <div>Name</div>
      <input type="text" name="name" value="{{ model.name }}" required maxlength="32" class="form-control">
    </div>

    <div class="form-group mb-4">
      <div>Description</div>
      <textarea name="description" required class="form-control">{{ model.description }}</textarea>
    </div>

    <div class="form-group mb-4 row">
      <div class="col">
        <div>Unit Price</div>
        <input type="number" name="unitPrice" value="{{ model.unitPrice }}" required class="form-control">
      </div>
      <div class="col">
        <div>Stock</div>
        <input type="number" name="stock" value="{{ model.stock }}" required min="1" max="100" class="form-control">
      </div>      
    </div>

    <div class="form-group mb-4">
      <div>Category</div>
      <select class="form-control" name="category" required>
        {{#each categories}}
        <option value="{{ this._id }}" {{#if (equal ../model.category this._id)}}selected{{/if}}>{{ this.name }}</option>
        {{/each}}
      </select>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary">Update</button>
    </div>
  </form>
</div>